.container {
  display: flex; /* Flexbox elrendezés */
  flex-direction: column; /* Függőleges irány */
  align-items: center; /* Középre igazítás vízszintesen */
}

.house {
  display: grid;
  align-content: center;
}

/*Ha id-val hivatkozol, akkor kell elé a # */
.buttons-container,
.description,
.questions-and-answers-container {
  padding: 20px;
  align-content: left;
}

.questions-and-answers-container {
  padding: 20px;
  margin-left: 400px;
  text-align: left;
  align-self: flex-start; /* EZ BALRA IGAZÍTJA FLEXBOXBAN! */
}

.back-button,
.submit-button {
  background-color: #5e1354; /* Gomb háttérszíne */
  color: black; /* Gomb szövegének színe */
  border: none; /* Nincs keret */
  padding: 10px 20px; /* Belső margó */
  text-align: center; /* Szöveg középre igazítása */
  text-decoration: none; /* Nincs aláhúzás */
  display: inline-block; /* Inline blokk elem */
  font-size: 16px; /* Betűméret */
  margin: 10px 2px; /* Külső margó */
  cursor: pointer; /* Mutató kurzor */
  border-radius: 5px; /* Lekerekített sarkok */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Áttűnés a háttérszín és árnyék változásakor */
  font-weight: bold; /* Félkövér szöveg */
  position: relative; /* Relatív pozíció a fénycsíkhoz */
  overflow: hidden; /* Elrejtjük a túlcsorduló tartalmat */
  margin: 10px 40px; /* Növelt vízszintes margó a gombok között */
}

.back-button::before,
.submit-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -200%; /* Kezdetben rejtve */
  width: 200%;
  height: 20px; /* Vékony csík */
  background: rgba(255, 255, 255, 0.8); /* Fényes csík színe */
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.back-button:hover::before,
.submit-button:hover::before {
  left: 100%; /* Mozgás hover esetén */
  transition: all 0.5s ease;
}

.back-button:hover,
.submit-button:hover {
  transform: scale(1.05); /* Nagyítás hover esetén */
  background-color: #b5a9a9; /* Háttérszín változás hover esetén */
  transition: all 200ms ease;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
}

.back-button:active,
.submit-button:active {
  background-color: #b5a9a9; /* Háttérszín változás focus esetén */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
  transform: scale(0.98);
  transition: ease 100ms;
}

/* Linkek stílusa */
a:link {
  color: rgb(71, 11, 168);
}
/* Lista stlusa.*/
ul {
  list-style-type: square;
}

/* Lista stlusa.*/
ul li::marker {
  color: rgb(30, 16, 88);
}

/*Telefonos nézet*/
@media (max-width: 600px), (max-height: 600px) {
  .container {
    display: flex; /* Flexbox elrendezés */
    flex-direction: column; /* Függőleges irány */
    align-items: center; /* Középre igazítás vízszintesen */
  }
  .questions-and-answers-container {
    padding: 20px;
    margin-left: 40px; /* Kis balra tolás */
    text-align: left;
    align-self: flex-start; /* EZ BALRA IGAZÍTJA FLEXBOXBAN! */
  }
  .house {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    height: 50px;
  }

  html,
  body {
    background: linear-gradient(135deg, #c0d7df 0%, #dbe6f6 50%, #a0b4c8 100%);
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .questions-and-answers-container {
    padding: 20px;
    margin-left: 40px;
    text-align: left;
    align-self: flex-start; /* EZ BALRA IGAZÍTJA FLEXBOXBAN! */
  }
}
