<!--
Futtatsd le ezt a terminálban: pip install pyscript
python -m http.server
TODO: Work in progress.
-->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sorting Hat</title>
        <link rel="stylesheet" href="styles_Sort_hat.css" />
        <!--A weboldal ikonának beállítása.-->
        <link
            rel="website icon"
            type="webp"
            href="../../../../../Assets/Icons/website_icon.webp"
        />

        <!-- PyScript import -->
        <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
     <script defer src="https://pyscript.net/latest/pyscript.js"></script>
     -->

        <link rel="stylesheet" href="../../../background.css" />
    </head>
    <body>
        <h1>⚡ Hogwarts Sorting Hat ⚡</h1>
        <!--TODO: nickname bekérése.-->
        <br />
        <div class="container">
            <div class="description">
                The Sorting Hat is a magical talking hat at Hogwarts School of
                Witchcraft and Wizardry. The hat decides which of the four
                "Houses" each first-year student goes to:
                <ul>
                    <li>🦁 Gryffindor</li>
                    <li>🦅 Ravenclaw</li>
                    <li>🦡 Hufflepuff</li>
                    <li>🐍 Slytherin</li>
                </ul>
                Answer the three questions below, and after that, the hat can
                choose your correct house.
            </div>
            <div class="questions-and-answers-container">
                <!-- Q1 -->
                <fieldset>
                    <legend>Q1) Do you like Dawn or Dusk?</legend>
                    <label
                        ><input type="radio" name="q1" value="1" /> Dawn</label
                    ><br />
                    <label
                        ><input type="radio" name="q1" value="2" /> Dusk</label
                    >
                </fieldset>

                <!-- Q2 -->
                <fieldset>
                    <legend>
                        Q2) When I’m dead, I want people to remember me as:
                    </legend>
                    <label
                        ><input type="radio" name="q2" value="1" /> The
                        Good</label
                    ><br />
                    <label
                        ><input type="radio" name="q2" value="2" /> The
                        Great</label
                    ><br />
                    <label
                        ><input type="radio" name="q2" value="3" /> The
                        Wise</label
                    ><br />
                    <label
                        ><input type="radio" name="q2" value="4" /> The
                        Bold</label
                    >
                </fieldset>

                <!-- Q3 -->
                <fieldset>
                    <legend>
                        Q3) Which kind of instrument most pleases your ear?
                    </legend>
                    <label
                        ><input type="radio" name="q3" value="1" />
                        Violin</label
                    ><br />
                    <label
                        ><input type="radio" name="q3" value="2" />
                        Trumpet</label
                    ><br />
                    <label
                        ><input type="radio" name="q3" value="3" /> Piano</label
                    ><br />
                    <label
                        ><input type="radio" name="q3" value="4" /> Drum</label
                    >
                </fieldset>
            </div>

            <div class="buttons-container">
                <button
                    class="back-button"
                    id="back-button"
                    onclick="window.location.href = '../../../../../index.html'"
                >
                    Back
                </button>
                <button class="submit-button" id="submit-button">
                    Sort me!
                </button>
            </div>

            <div id="output" style="display: none">
                <h2>Results:</h2>
            </div>
        </div>
        <!-- A külső Python fájl hivatkozása -->
        <py-script src="Sort_hat.py"></py-script>
    </body>
</html>
